/* General */
.styleface-input {
  color: #ffffff;
  background-color: #000000;
  padding: 4px;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 2px #0E8388;
}

.styleface-input[type=color] {
  width: 100%;
  padding: 0;
  cursor: pointer;
}

.styleface-input[type=checkbox] {
  box-shadow: none;
}
