.typewriter-cursor {
  color: #0E8388;
}

.typewriter-cursor:after {
  content: '|';
  color: #ffffff;
  animation: blinking 1s linear infinite;
  font-size: 36px;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}