#button-element {
  font-size: 24px;
  background: #0E8388;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #2E4F4F;
  cursor: pointer;
  transition: 0.2s filter;
}

#button-element:hover {
  filter: brightness(1.2);
}
