/* Welcome Section */
#welcome-section {
  min-height: 90vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#welcome-text {
  padding: 80px;
  font-size: 24px;
}

#welcome-text h1 {
  color: #ffffff;
  font-size: 64px;
  margin: 16px 0;
  text-shadow: 4px 4px 1px #0E8388;
}

#welcome-image-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

#welcome-image-container img {
  height: 600px;
}

/* Element Selection */
#elements-section {
  text-align: center;
  margin: 0 0 40px 0;
}

#elements-section h2 {
  font-size: 36px;
}

#elements-section p {
  font-style: italic;
  margin: 0 0 24px 0;
}

@media only screen and (max-width: 1000px) {
  #welcome-section {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #welcome-text {
    padding: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #welcome-image-container img {
    height: 400px;
  }
}