.tree-view {
  position: relative;
  font-family: monospace;
  background: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #0E8388;
}

.tree-view li {
  position: relative;
  background: linear-gradient(#006666, #0E8388);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  width: fit-content;
}

.tree-view li:hover {
  transition: 0.2s filter;
  filter: brightness(1.2);
}

.tree-view li span {
  cursor: pointer;
  color: #CBE4DE;
}

.tree-view li.drag-over {
  border-bottom: 2px dashed #CBE4DE;
}

.tree-view li.selected {
  background: linear-gradient(#006666, #000000) fixed;
}

#delete-zone {
  position: absolute;
  top: 0;
  right: 0;
  background: #c91f1f;
  border-radius: 4px;
  padding: 8px;
  transition: 0.2s filter;
}

#delete-zone:hover {
  filter: brightness(1.2);
}
