#button-preview {
  display: grid;
  align-content: center;
  justify-items: center;
  margin: 0 0 16px 0;
}

#button-options {
  margin: 0 0 16px 0;
}

#button-options * {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  margin: 0 0 4px 0;
}

.code-container {
  font-family: monospace;
  padding: 8px;
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
  width: fit-content;
}

.option-name {
  font-family: monospace;
  font-weight: 800;
}