#button-designer {
  margin: 0 32px;
}

#button-preview {
  display: grid;
  align-content: center;
  justify-items: center;
  background: #d3d3d3;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin: 0 0 16px 0;
  overflow: scroll;
}

#button-options {
  margin: 0 0 16px 0;
}

#button-options > * {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  margin: 0 0 4px 0;
  gap: 8px;
}

.code-container {
  font-family: monospace;
  padding: 8px;
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
  width: fit-content;
}

.option-name {
  font-family: monospace;
  font-weight: 800;
}

#padding-container > * > {
  padding: 8px;
}

input[type="color"] {
  width: 100%;
}