/* General */
#button-designer {
  margin: 0 16px;
}

/* Button Preview */
#button-preview {
  display: grid;
  align-content: center;
  justify-items: center;
  background: #afafaf;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin: 0 0 16px 0;
  overflow: scroll;
}

/* Inputs */
#button-options {
  margin: 0 0 16px 0;
}

#button-options > * {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  margin: 0 0 4px 0;
  gap: 8px;
}

.option-name {
  font-family: monospace;
  font-weight: 800;
}

/* Code Preview */
#button-code {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.code-container {
  font-family: monospace;
  background: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #0E8388;
}
