/* General */
#element-designer {
  margin: 0 16px;
  color: #CBE4DE;
}

/* Hierarchy */
#element-hierarchy {
  margin: 0 0 16px 0;
}

/* Element Preview */
#element-preview {
  display: grid;
  align-content: center;
  justify-items: center;
  background: #afafaf;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin: 0 0 16px 0;
  overflow: scroll;
  box-shadow: 1px 1px 2px #0E8388;
}

/* Element Hierarchy */
#add-element-container {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-weight: 600;
  margin: 8px 0;
  cursor: pointer;
  gap: 4px;
}

#add-element-container:hover {
  transition: 0.2s filter;
  filter: brightness(1.2);
}

/* Element (HTML) and Styling (CSS) Options */
#styling-options, #element-options {
  margin: 0 0 16px 0;
}

#styling-options > *, #element-options > * {
  display: grid;
  grid-auto-flow: column;
  font-size: 16px;
  margin: 0 0 4px 0;
  gap: 8px;
}

#styling-options > * {
  grid-template-columns: auto 1fr 1fr 1fr 1fr;
}

#element-options > * {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-title {
  color: #ffffff;
  font-size: 16px;
}

#element-options .section-title + hr, #styling-options .section-title + hr {
  margin: 8px 0 16px 0;
}

.option-name {
  font-family: monospace;
  font-weight: 800;
}

.hidden > :not(:first-child) {
  opacity: 0.5;
  transition: 0.3s opacity;
  pointer-events: none;
}

#element-hierarchy, #styling-options, #element-code {
  margin: 0 0 50px 0;
}

/* Code Preview */
#element-code {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.code-container {
  position: relative;
  font-family: monospace;
  background: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #0E8388;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #0E8388;
  border-radius: 4px;
  padding: 8px;
  cursor: copy;
  transition: 0.2s filter;
}

.copy-button:hover {
  filter: brightness(1.2);
}

@media only screen and (max-width: 850px) {
  #styling-options > * {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    margin: 0 0 16px 0;
  }
}