/* General */
.ornatus-navigation-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  transition: 1s;
  width: calc(100% - 32px);
  padding: 0 16px;
  z-index: 2;
}

/* App Name */
#navigation-name {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #0E8388;
}

/* Links */
#navigation-links li {
  display: inline-block;
  padding: 0 0 0 20px;
  font-size: 24px;
}

.navigation-text {
  color: #ffffff;
  font-weight: 600;
}

.navigation-text:hover {
  transition: 0.5s;
  color: #CBE4DE;
}

/* Sticky Navigation Bar */
.ornatus-navigation-bar.sticky {
  height: 56px;
  background: #ffffff;
}

.ornatus-navigation-bar.sticky #navigation-name {
  color: #0E8388;
  text-shadow: 2px 2px 1px #CBE4DE;
}

.ornatus-navigation-bar.sticky #navigation-links li .navigation-text {
  color: #000000;
}

.ornatus-navigation-bar.sticky #navigation-links li .navigation-text:hover {
  color: #0E8388;
}

.filler {
  position: relative;
  visibility: hidden;
}